@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --font-open: "Open Sans", sans-serif;
}

@layer components {
  input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #18181b;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}
